<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">


<!-- TODO -->

<!-- 
  Create the context for a constructor injected application here

  Hints:

  * Create a bean for each service
  * Create a bean for Calculation - use constructor-arg
-->

</beans>
